In [1]:
# importing packages 

import os # use to load file
import pandas as pd # use to create dataframes for data processing

In [2]:
# setting base and data directories

cwd = os.getcwd()

## setting base directory as current directory
BASE_DIR = os.path.dirname(cwd)

## setting BASE_DIR/data as data directory
DATA_DIR = os.path.join(BASE_DIR, 'data') 

## cache directory path 
CACHE_DIR = os.path.join(DATA_DIR, 'cache')

## output directory path 
PROCESSED_DIR = os.path.join(DATA_DIR, 'processed')

## setting working file
working_file = os.path.join(CACHE_DIR, 'house_pricing_dataset_cleaned.csv')
working_parks_file =  os.path.join(CACHE_DIR, 'parks_dataset_cleaned.csv')
working_code_complaints_file = os.path.join(CACHE_DIR, 'code_complaints_dataset_cleaned.csv')

## creating cache directory. Do not create it if exists
os.makedirs(PROCESSED_DIR,exist_ok=True)

## setting output file
output_file = os.path.join(PROCESSED_DIR, 'pricing_model_dataset.csv')

In [3]:
#creating dataframes
house_pricing_df = pd.read_csv(working_file)
parks_df = pd.read_csv(working_parks_file)
code_complaints_df = pd.read_csv(working_code_complaints_file)

In [4]:
#getting the lenght of house_pricing_df
len(house_pricing_df.index)

21613

In [5]:
#joining house pricing dataframe and park dataframe together

combined_df = pd.merge(house_pricing_df,parks_df,on='zipcode')

len(combined_df.index)

7535

In [6]:
#joining combined dataframe and park dataframe together

combined_df = pd.merge(combined_df,code_complaints_df,on='zipcode')

len(combined_df.index)

7535

In [7]:
#checking combined_df
combined_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,number_of_parks,number_of_code_complaints
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,3,2170
1,4060000240,2014-06-23,205425.0,2,1.00,880,6780,1.0,0,0,...,0,1945,0,98178,47.5009,-122.248,1190,6780,3,2170
2,4058801670,2014-07-17,445000.0,3,2.25,2100,8201,1.0,0,2,...,480,1967,0,98178,47.5091,-122.244,2660,8712,3,2170
3,2976800796,2014-09-25,236000.0,3,1.00,1300,5898,1.0,0,0,...,0,1961,0,98178,47.5053,-122.255,1320,7619,3,2170
4,6874200960,2015-02-27,170000.0,2,1.00,860,5265,1.0,0,0,...,0,1931,0,98178,47.5048,-122.272,1650,8775,3,2170

In [8]:
#storing combined_df as a output file

combined_df.to_csv(output_file, index=False)